body {
    background-image: url(./img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.title {
    text-align: center;
    font-size: 50px;
    font-variant: small-caps;
    margin-bottom: 30px;
}

form label {
    font-weight: bold;
    font-size: 30px;
}

/* form h2 {
    text-decoration: underline;
    text-align: center;
    margin-bottom: 20px;
} */

.results {
    display: none;
}

/* #findDoctorByIssueForm, #findDoctorByNameForm, #findDoctorBySpecialityForm {
    display: none;
    margin-top: 30px;
    margin-bottom: 30px;
} */

.btn {
    font-size: 20px;
}

/* ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

li {
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    width: 400px;
    background-color: #b3d9ff;
    font-size: 20px;
}

#specialitiesList {
    margin-bottom: 20px;
} */

#box {
    background-color: rgba(118,108,108, 0.5);
    margin: 0;
    padding: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
