html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

body {
    background-image: url(./img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.title {
    text-align: center;
    font-size: 50px;
    font-variant: small-caps;
    margin-bottom: 15px;
}

form label {
    font-weight: bold;
    font-size: 30px;
}

li {
    color: aliceblue;
    margin: 10px;
}
#results {
    display: none;
    margin-top: 10%;
}

.btn {
    font-size: 20px;
}


.box {
    background-color: rgba(118,108,108, 0.5);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.map {
    height: 35%;
    width: 70%;
    left: 15%;
    top: 20%;
}

.goUpForm {
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    width: 100%;
}

.goUpGroup {
    display: inline-block;
    width: 40%;
}

.resultBox {
    position: relative;
    top: 20%;
    background-color: rgba(118,108,108, 0.5);
    width: 80%;
    left: 10%;
}

@media (max-width: 500px) {
    .map {
        top: 25%;
    }

    .resultBox {
        top: 30%
    }
}

@media (max-height: 850px) {
    .map {
        top: 35%;
    }
}